
.table-striped
{
    margin-top: 100px;
    margin-left: 400px;
    width: 800px;
    border-collapse:separate;
    border:solid #9932CC 1px;
    border-radius:10px;
    -moz-border-radius:10px;    
}

