<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>401</span></div>
                <span class="inner-status">Opps! You are unauthorized to view this page!</span>
                <span class="inner-detail">Please contact your system administrator if you think this is wrong.</span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>