<div class="container">
  <div class="py-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="../assets/images/Sacchon_200x200.png"
      alt="Sacchon"
      width="100"
      height="100"
    />
    <h2>Register</h2>
    <p class="lead">Please enter your information to register your account</p>
  </div>

  <!-- <div class="container">
  <div class="py-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="../assets/images/Sacchon_200x200.png"
      alt=""
      width="100"
      height="100"
    />
    <h2>Register</h2>
    <p class="lead">Please enter your information to register your account</p>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Address</h4>
     
    </div>
  </div>
</div> -->
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 order-md-1">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName">
            <div *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').dirty" class="text-danger">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" >
            <div *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').dirty" class="text-danger">
              Valid last name is required
            </div>
          </div>
        </div>

        <!-- email -->
        <div class="mb-3">
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input
            type="text"
            class="form-control"
            id="emailInput"
            placeholder="Enter email"
            formControlName="email"
          />
          <div
            *ngIf="
              registerForm.get('email').invalid &&
              registerForm.get('email').dirty
            "
            class="text-danger"
          >
            Field is required!
          </div>
        </div>
        </div>
        <!-- email -->

        <!-- password -->
        <div class="mb-3">
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input
            type="password"
            class="form-control"
            id="passwordInput"
            placeholder="Enter password"
            formControlName="password"
          />
          <div
            *ngIf="
              registerForm.get('password').invalid &&
              registerForm.get('password').dirty
            "
            class="text-danger"
          >
            Field is required!
          </div>
        </div>
        </div>
        <!-- password -->

        <!-- address -->
        <div class="mb-3">
        <div class="form-group">
          <label for="addressInput">Address</label>
          <input
            type="text"
            class="form-control"
            id="addressInput"
            placeholder="Enter address"
            formControlName="address"
          />
          <div
            *ngIf="
              registerForm.get('address').invalid &&
              registerForm.get('address').dirty
            "
            class="text-danger"
          >
            Field is required!
          </div>
        </div>
        </div>
        <!-- address -->

        <!-- city -->
        <div class="mb-3">
        <div class="form-group">
          <label for="cityInput">City</label>
          <input
            type="text"
            class="form-control"
            id="cityInput"
            placeholder="Enter city"
            formControlName="city"
          />
          <div
            *ngIf="
              registerForm.get('city').invalid && registerForm.get('city').dirty
            "
            class="text-danger"
          >
            Field is required!
          </div>
        </div>
        </div>
        <!-- city -->

        <!-- phoneNumber -->
        <div class="mb-3">
        <div class="form-group">
          <label for="phoneNumberInput">Phone Number</label>
          <input
            type="phoneNumber"
            class="form-control"
            id="phoneNumberInput"
            placeholder="Enter your phone number"
            formControlName="phoneNumber"
          />
          <div
            *ngIf="
              registerForm.get('phoneNumber').invalid &&
              registerForm.get('phoneNumber').dirty
            "
            class="text-danger"
          >
            Field is required!
          </div>
        </div>
        </div>
        <!-- phoneNumber -->

        <!-- zipCode -->
        <div class="form-group">
          <label for="zipCodeInput">Zip Code</label>
          <input
            type="text"
            class="form-control"
            id="zipCodeInput"
            placeholder="Enter your area zip code"
            formControlName="zipCode"
          />
          <div
            *ngIf="
              registerForm.get('zipCode').invalid &&
              registerForm.get('zipCode').dirty
            "
            class="text-danger"
          >
            Field is required!
          </div>
        </div>
        <button class="btn btn-primary btn-block" [disabled]="!registerForm.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
