<div class="topnav">
  <a href="#">Home </a
  ><a routerLink="/patient" routerLinkActive="active"> Patient Component </a>
  <a routerLink="/doctor" routerLinkActive="active"> Doctor Component </a>
  <a routerLink="/admin" routerLinkActive="active"> Admin Component </a>
  <div class="topnav-right">
    <a routerLink="/user-panel" routerLinkActive="active">My Account</a>
    <a href="#about">About</a>
    <a routerLink="/login" (click)="logout()">Logout</a>
  </div>
</div>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid topnav-right">
    <div class="navbar-header">
      <img src="../assets/images/Sacchon_16_16.ico">
      <a class="navbar-brand" href="#">Sacchon</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home </a><a routerLink="/patient" routerLinkActive="active"> Patient Component </a>
                         <a routerLink="/doctor" routerLinkActive="active"> Doctor Component </a>
                         <a routerLink="/admin" routerLinkActive="active"> Admin Component </a></li>
    </ul>
  </div>
</nav> -->
