<mat-toolbar class="position-absolute" color="primary">
  <mat-toolbar-row class="align-items-center">
    <button [routerLink]="['/home']" mat-button>Home</button>
    <button [routerLink]="['/patient/measurements']" mat-button>
      Measurements list
    </button>
    <button [routerLink]="['/patient/measurements/create']" mat-button>
      Add measurement
    </button>
    <button [routerLink]="['/patient/consult']" mat-button>Consult List</button>
    <button (click)="logout()" mat-button>Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

