
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Patient's Email</th>
      <th scope="col">Doctor's Note</th>
      <th scope="col">Medication Suggested</th>
      <th scope="col">Dosage</th>
      <th scope="col">Date</th>
    </tr>
  </thead>

  <tbody *ngFor="let consult of consults; let i = index" class="table-body">
    <tr >
      <td>{{ i + 1 }}</td>
      <td>{{ consult.patient_email }}</td>
      <td>{{ consult.consultText }}</td>
      <td>{{ consult.medication }} </td>
      <td>{{ consult.dosage }} grams </td>
      <th scope="row">{{ consult.consult_created_date | date: "dd/MM/yyyy" }}</th>

    </tr>
    <!-- Using `myData.length > 0` to make sure `myData` gets full before creating the chart -->
  </tbody>
</table>
