


// .table-striped {
//   margin-top: 100px;

//   margin-left: 400px;

//   width: 700px;

//   border-collapse: separate;

//   border: solid teal 1px;

//   border-radius: 0px;

//   -moz-border-radius: 10px;

//   border-spacing: 5px;
// }

.head {
  text-align: center;

  background-color: teal;

  color: whitesmoke;
}

.table-pad{
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-body {
  text-align: center;
}

.btn {
  background-color: teal;

  color: whitesmoke;

  margin-right: 10px;
}

// .container {
//   height: 200px;

//   position: relative;

//   display: inline-block;
// }

#averageBtn {
  margin-left: 500px;
  margin-right: 15px;
  margin-top: 15px;
}

#graphBtn {
  margin-top: 15px;
}
