.table-striped {
  margin-top: 100px;

  margin-left: 400px;

  width: 700px;

  border-collapse: separate;

  border: solid #9932cc 1px;

  border-radius: 10px;

  -moz-border-radius: 10px;
}

.head {
  text-align: center;

  background-color: #9932cc;

  color: white;
}

.table-body {
  text-align: center;
}

.btn {
  background-color: #9932cc;

  color: white;

  margin-right: 10px;
}

.container {
  height: 200px;

  position: relative;

  display: inline-block;
}

#averageBtn {
  margin-left: 500px;

  margin-right: 15px;

  margin-top: 15px;
}

#graphBtn {
  margin-top: 15px;
}
