<link
  href="//netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  rel="stylesheet"
/>

<form [formGroup]="dateForm" (ngSubmit)="getMeasurementsByDate()">
  <input
    formControlName="startDate"
    type="date"
    name="startDate"
    id="startDate"
  />
  <input formControlName="endDate" type="date" name="endDate" id="endDate" />
  <input type="submit" />
</form>

<table *ngIf="hideTable" class="table-striped">
  <thead class="head">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Daily Glucose Level</th>
      <th scope="col">Daily Carb Intake</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody class="table-body">
    <tr *ngFor="let measurement of measurements; let i = index">
      <td>{{ i + 1 }}</td>

      <th scope="row">{{ measurement.created_date | date: "dd/MM/yyyy" }}</th>

      <td>{{ measurement.carb_intake }} mg/dL</td>

      <td>{{ measurement.glucose_level }} grams</td>

      <td>
        <button
          (click)="deleteMeasurements(measurement.measurement_id)"
          class="btn"
          type="button"
        >
          Delete
        </button>
        <button
          [routerLink]="[measurement.measurement_id]"
          class="btn"
          type="button"
        >
          Update
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container">
  <button type="button" class="btn btn-primary btn-lg" id="averageBtn">
    Compute My Average
  </button>

  <button (click)="showCharts()" type="button" class="btn btn-primary btn-lg" id="graphBtn">
    Show My Graphs
  </button>
</div>

<!-- Using `myData.length > 0` to make sure `myData` gets full before creating the chart -->
<div *ngIf="showChart">

  <google-chart 
  *ngIf="myGraphData.length > 0"
  [title]="title"
  [type]="type"
  [data]="myGraphData"
  [columns]="chartColumns"
  [options]="options"
  [width]="width"
  [height]="height"
></google-chart>

</div>