.head {
  text-align: center;

  background-color: teal;

  color: whitesmoke;
}

.table-pad{
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-body {
  text-align: center;
}

.btn {
  background-color: teal;

  color: whitesmoke;

  margin-right: 10px;
}

// .container {
//   height: 200px;

//   position: relative;

//   display: inline-block;
// }

#averageBtn {
  margin-left: 500px;
  margin-right: 15px;
  margin-top: 15px;
}

#graphBtn {
  margin-top: 15px;
}

.mar-top-20{
  margin-top: 20px;
}

.mar-bot-20{
  margin-bottom: 20px;
}