<div *ngFor="let user of users; let i=index">
  <div class="pad-20">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <div class="card-text">
          address:{{ user.address }}, {{ user.city }}, {{ user.zipCode }}
        </div>
        <div class="card-text">{{ user.phoneNumber }}</div>
        <div>{{ user.userRole }} Has doctor: {{user.hasActiveDoctor}}</div>
        <div class="patient-btn pad-top-20">
          <button class="btn btn-outline-dark patient-btn" type="button" [routerLink]="[user.email]" >
            See Patient's details
          </button>
        </div>
      </div>
      <div class="card-footer text-muted">
        Registed at:
        <cite title="Source Title">{{ user.createdDate | date }}</cite>
      </div>
    </div>
  </div>
</div>
  
<router-outlet></router-outlet>
