<table class="table-striped">
    <thead class="head">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let user of users; let i=index">
        <!-- <th scope="row">
          {{ measurement.measurement_created_date | date: "dd/MM/yyyy" }}
        </th> -->

        <td>{{ i + 1 }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.phoneNumber}}</td>
        <td><button class="btn" type="button" (click)="btnClick()">See Patient's Measurements</button></td>
      </tr>
    </tbody>
  </table>

 <router-outlet></router-outlet>
