<div class="card align-items-center" style="padding-top:20px;">
  <h4 class="header">Login</h4>
  <h5 class="header">Not a member? <a routerLink="../register">Sign up!</a> </h5>
  <img width="200" height="200" src="../assets/images/Sacchon_200x200.png">
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && data.email.errors }"
        />
        <div *ngIf="submitted && data.email.errors" class="invalid-feedback">
          <div *ngIf="data.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && data.password.errors }"
        />
        <div *ngIf="submitted && data.password.errors" class="invalid-feedback">
          <div *ngIf="data.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">
          Login
        </button>
        <a routerLink="../register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="carousel-inner">
      <img src="../assets/images/Blood_Sugar_Test.jpg" class="w-100" alt="Angular Carousel 1" width="250" height="250">
    </div>
    <div class="carousel-caption">
      <h3>Glucose tracking</h3>
      <p>Get your Glucose level in check!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>  
    <div class="carousel-inner">
      <img src="../assets/images/blood-sugar-exam.jpg" alt="Angular Carousel 2" width="300" height="250">
    </div>
    <div class="carousel-caption">
      <h3>Evaluation</h3>
      <p>Recieve consults from your doctor!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>  
    <div class="carousel-inner">
      <img src="../assets/images/blood-test.jpg" alt="Angular Carousel 2" width="300" height="250">
    </div>
    <div class="carousel-caption">
      <h3>Evaluation</h3>
      <p>Recieve consults from your doctor!</p>
    </div>
  </ng-template>
</ngb-carousel>

<!-- <h3 class="text-center">Test Header</h3>
<p class="text-center">and there some more text</p> -->

