<div *ngIf="userService.currentUserRole == 'doctor'" class="wrapper">
  <div id="sidebar-div" class="sidebar">
    <div class="nav-bar-container">
      <div class="brand">
          <img src="../assets/images/Sacchon_200x200.png">
      </div>
      <ol class="main-menu text-left">
          <li><a routerLink="my-patients">My Patients</a></li>
          <li><a routerLink="consults">My consults</a></li>
          <li><a routerLink="patients-without-doctor">Find Patients</a></li>
          <li><a >Example</a></li>
          <li><a >Example</a></li>
      </ol>
    </div>
  </div>
  <div class="main-body">
    <div class="dashboard-div pad-bot-50">
      <div class="" >
        <div>
          <span class="dashboard-title">Dashboard</span>
          <span class="dashboard-second-title">Control Panel</span>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>