<p><p>Are you a doctor?</p>
<!--*ngIf="userService.currentUserRole == 'doctor'"-->
<nav >
    <ul *ngIf="userService.currentUserRole == 'doctor'">
      <li><a routerLink="consults">view consults</a></li>
      <li><a routerLink="patients-without-doctor">View Active Patients</a></li>
      <li><a routerLink="my-patients">View My Patients</a></li>
      <!-- <li><a routerLink="patients-without-doctor">view patients without doctor</a></li> -->
    </ul>
  </nav>
  
  <router-outlet></router-outlet>