<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<button type="button" class="btn btn-info" (click)="showInactiveFunction()">
  Show Active/Inactive Doctors
</button>
<div *ngIf="showInactive">
  <form [formGroup]="inactiveDateForm" (ngSubmit)="getInactiveDoctors()">
    <input
      formControlName="startDate"
      type="date"
      name="startDate"
      id="startDate"
    />
    <input formControlName="endDate" type="date" name="endDate" id="endDate" />
    <input type="submit" />
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let inactivedoctor of inactiveDoctors
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
          let i = index
        "
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ inactivedoctor.firstName }}</td>
        <td>{{ inactivedoctor.lastName }}</td>
        <td>{{ inactivedoctor.email }}</td>
        <td>{{ inactivedoctor.phoneNumber }}</td>
      </tr>
    </tbody>
  </table>
  <p>Change page:</p>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="inactiveDoctors.length"
  ></ngb-pagination>
</div>

<div
  *ngIf="userService.currentUserRole == 'admin'"
  class="container-fluid pad-15"
>
  <div *ngIf="doctorList" class="row">
    <div *ngFor="let user of users">
      <div *ngIf="user.userRole == 'doctor'">
        <div class="col-md-3 min-wid-100 align-items-stretch">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">
                {{ user.firstName }} {{ user.lastName }}
              </h5>
              <hr />
              <div class="min-wid-100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                : {{ user.email }}
                <div class="card-text">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                 : {{ user.address }}, {{ user.city }},
                  {{ user.zipCode }}
                </div>
                <i class="fa fa-phone" aria-hidden="true"></i> :  
                {{ user.phoneNumber }}
              </div>
              <div class="text-center">
                <button class="btn btn-dark" type="button" [routerLink]="[user.email]">
                  See Patient's details
                </button>
              </div>
            </div>
            <div class="card-footer text-muted">
              Registed at:
              <cite title="Source Title">{{ user.createdDate | date }}</cite>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
