<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
          <h3 class="text-center">Log entry</h3>
          <form [formGroup]="addMeasurementForm" (ngSubmit)="onCreateMeasurement()">
          
              <input type="text"  placeholder="Glucose level" formControlName="glucose_level">
        
           
              <input type="text"  placeholder="Carb intake" formControlName="carb_intake">
          
           

            <div class="mt-4">
              <button class="btn btn-primary" >Log Entry</button>
              <!-- <a (click)="onRegister()" class="ml-2" mat-button color="primary">Cancel</a> -->
              <!-- <a [routerLink]="['/home']" class="ml-2" mat-button color="primary">Cancel</a> -->
            </div>
          </form>
      </div>
    </div>
  </div>
</div>