.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:teal;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    z-index: 300;
  }

  .footer a{
    color: white;
  }


