<div>
  <h3>Measurements: </h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Carb Intake</th>
        <th scope="col">Glucose Level</th>
        <th scope="col">Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let measurement of measurements
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
          let i = index
        "
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ measurement.carb_intake }} mg/dL</td>
        <td>{{ measurement.glucose_level }} grams</td>
        <td>{{ measurement.created_date | date: "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
  <p>Change page:</p>
<ngb-pagination
  [(page)]='page'
  [pageSize]="pageSize"
  [collectionSize]="consults.length"
></ngb-pagination>
</div>

<!-- <div>
  <h3>Consults received: </h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Consult Info</th>
        <th scope="col">Dosage</th>
        <th scope="col">Medication</th>
        <th scope="col">Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let consult of consults;
          let i = index
        "
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ consult.consultText }}</td>
        <td>{{ consult.dosage }} </td>
        <td>{{ consult.medication }}</td>
        <td>{{ consult.consult_date | date: "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
